/*Reset Default Parameters*/
* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex
{
    display: flex;
    flex-direction: row;
}

.flex-between
{
    display: flex;
    justify-content: space-between;
}

.margin-auto
{
    margin: auto;
}

.height-100s
{
    height: 100%;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    text-decoration: underline;
    color: white;
}

header 
{
    background-color: rgba(255,105,0,255);
    color: white;
    height: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gender
{
    padding-left: 50px;
}

.account-favorite-cart 
{
    padding-right: 50px;
}

.logo-header
{
    width: 40px;
    height: 50px;
    margin-right: 250px;
}

footer
{
    background-color: rgba(26,26,26,255);
    color: white;
}

footer h2 
{
    font-size: 1.15rem;
    margin-bottom: .6rem
}

.footer-left
{
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}

.footer-left h2
{
    font-size: 1rem;
    margin-bottom:.6rem;
    margin-left: .6rem;
}

.footer-left ul 
{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-bottom:.2rem;
    margin-left: .6rem;
}

.footer-left li, .footer-right li
{
    margin: 0 10px;
}

.footer-right
{
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    list-style: none;
    padding: 0; 
    margin-bottom: 10px
}

.footer-right h2
{
    margin: 0;
}

ul
{
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

li
{
    list-style: none;
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 50px;
    width: 100%;
}

.navbar ul
{
    list-style: none;
    float: right;
}

.navbar ul li
{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}


.container
{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}


.row
{
    padding-top: 110px;
    display: flex;
    flex-wrap: wrap;
}

.second-row
{
    padding-top: 20px;
}

.column
{
    width: calc(100% / 3);
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.heart
{
    background-color: white;
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 1.3em;
    padding: 10px;
}

.discount
{
    background-color: #ff0000;
    color: white;
    position: absolute;
    bottom: 25px;
    left: 0;
    font-size: 1.3em;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 54px;
}

.sustainability
{
    background-color: #008000;
    color: white;
    position: absolute;
    bottom: 25px;
    left: 60px;
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 103px;
}

.sixth-column .sustainability
{
    left: 0;
}

.brand
{
    font-weight: normal;
}

.product-description
{
    font-weight: bold;
}

.full-price
{
    text-decoration: line-through;
}

.discounted-price
{
    color: #ff0000;
    font-weight: bold;
}

.product-image
{
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
}

.product-image img
{
    width: 100%;
    height: auto;
    display: block;
}

#first-image img:hover
{
    content: url('./img/1b.webp');
}

#second-image img:hover
{
    content: url('./img/2b.webp');
}

#third-image img:hover
{
    content: url('./img/3b.webp');
}

#fourth-image img:hover
{
    content: url('./img/4b.webp');
}

#fifth-image img:hover
{
    content: url('./img/5b.webp');
}

#sixth-image img:hover
{
    content: url('./img/6b.webp');
}

.social-icons, .footer-right h2
{
    display: flex;
    align-items: row;
    justify-content: space-between;
    padding: 1rem 0;
}



