/*Reset Default Parameters*/
* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header 
{
    background-color: rgba(255,105,0,255);
    color: white;
}

footer
{
    background-color: rgba(26,26,26,255);
    color: white;
}

.navbar
{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar ul
{
    list-style: none;
    float: right;
    margin-right: 20px;
}

.navbar ul li
{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

.navbar-left
{
    float: left;
}

.navbar-right
{
    float: right;
}

.container
{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.row
{
    width: 100%;
    overflow: hidden;
}

.column
{
    float: left;
    margin: 1% 0 1% 1.6%;
}

.first-column
{
    width: 31.32%;
}

.second-column
{
    width: 31.32%;
}

.third-column
{
    width: 31.32%;
}

.fourth-column
{
    width: 31.32%;
}

.fifth-column
{
    width: 31.32%;
}

.sixth-column
{
    width: 31.32%;
}

.heart
{

}

.discount
{

}

.sustainability
{

}

.brand
{

}

.product-description
{

}

.price
{

}

.full-price
{

}

.discounted-price
{

}

.product-image
{

}

.product-image img
{

}

.product-image img:hover
{

}

.logos
{

}


